[submodule "lib/ptr"]
	path = lib/ptr
	url = git@github.com:GodOfProgramming/ptr
[submodule "lib/tfix"]
	path = lib/tfix
	url = git@github.com:GodOfProgramming/tfix
[submodule "lib/sspec"]
	path = lib/sspec
	url = git@github.com:GodOfProgramming/sspec
